@inherits BodyLanguageDisplayBase

@if (!string.IsNullOrEmpty(Description))
{
    <div class="body-language-display">
        @if (!string.IsNullOrEmpty(NpcName))
        {
            <div class="npc-name">@NpcName</div>
        }
        <div class="emotional-state">
            <em>@Description</em>
        </div>
    </div>
}