@inherits MessageDisplayBase

<div class="message-display">
    @if (HasMessages)
    {
        @foreach (var message in Messages)
        {
            <div class="message @GetMessageClass(message.Type)">
                <span class="message-text">@message.Message</span>
                <button class="message-close" @onclick="() => DismissMessage(message)"><span class="icon-close"></span></button>
            </div>
        }
    }
</div>