@inherits ActionPreviewBase

<div class="action-preview">
    <h4>Requirements:</h4>
    <ul>
        @foreach (string description in GetRequirementDescriptions())
        {
            <li>@((MarkupString)description)</li>
        }
    </ul>

    <h4>Outcomes:</h4>
    <ul>
        @foreach (string description in GetOutcomeDescriptions())
        {
            <li>@((MarkupString)description)</li>
        }
    </ul>

    <div class="action-buttons">
        <button class="action-button" @onclick="HandleConfirm">
            Confirm
        </button>
        <button class="action-button" @onclick="HandleBack">
            Back
        </button>
    </div>
</div>