@inherits ActionPreviewBase

<div class="action-preview">
    <h4>Rewards</h4>
    <ul>
        @foreach (var outcome in CurrentAction.BasicAction.Rewards)
        {
            @if (IsReward(outcome))
            {
                <li style="color: green">
                    @GetRewardOutcomeDescription(outcome)
                </li>
            }
        }
    </ul>

    <h4>Cost</h4>
    <ul>
        @foreach (var outcome in CurrentAction.BasicAction.Rewards)
        {
            @if (IsCost(outcome))
            {
                <li style="color: red">
                    @GetCostOutcomeDescription(outcome)
                </li>
            }
        }
    </ul>

    <h4>Requirements</h4>
    <ul>
        @foreach (var requirement in CurrentAction.BasicAction.Requirements)
        {
            <li style="color: @GetRequirementColor(requirement)">
                @GetRequirementDescription(requirement)
            </li>
        }
    </ul>
</div>
