@inherits ActionPreviewBase

<h2>Confirm Action: @CurrentAction.Description</h2>
<br />

[Available Times]
<br />

@foreach (var timeSlot in CurrentAction.BasicAction.TimeSlots)
{
    <text>- @timeSlot</text>
    <br />
}
<br />

[Requirements]
<br />

@foreach (var requirement in CurrentAction.BasicAction.Requirements)
{
    <text>- @GetRequirementDescription(requirement)</text>
    <br />
}
<br />

[Results]
<br />

@foreach (var outcome in CurrentAction.BasicAction.Outcomes)
{
    <text>- @GetOutcomeDescription(outcome)</text>
    <br />
}
<br />

<MenuOptions>
    <MenuOption Index="1" Text="Confirm" OnClick="HandleConfirm" />
    <BackOption OnBack="HandleBack" />
</MenuOptions>