@inherits ActionPreviewBase

<div class="action-preview">
    @if (GetRequirementDescriptions().Count > 0)
    {
        <h4>Requirements:</h4>
        <ul>
            @foreach (string description in GetRequirementDescriptions())
            {
                <li>@((MarkupString)description)</li>
            }
        </ul>
    }

    @if (GetOutcomeCostsDescriptions().Count > 0)
    {
        <h4>Costs:</h4>
        <ul>
            @foreach (string description in GetOutcomeCostsDescriptions())
            {
                <li>@((MarkupString)description)</li>
            }
        </ul>
    }

    @if (GetOutcomeRewardsDescriptions().Count > 0)
    {
        <h4>Rewards:</h4>
        <ul>
            @foreach (string description in GetOutcomeRewardsDescriptions())
            {
                <li>@((MarkupString)description)</li>
            }
        </ul>
    }
@* 
    <div class="action-buttons">
        <button class="action-button" @onclick="HandleConfirm">
            Confirm
        </button>
        <button class="action-button" @onclick="HandleBack">
            Back
        </button>
    </div> *@
</div>