@inject NavigationManager NavigationManager
@code {
    [CascadingParameter] private UIScreen CurrentScreen { get; set; }
    [Parameter] public string Text { get; set; } = "Back to Last Screen";
    [Parameter] public EventCallback OnBack { get; set; }

    private async Task HandleBack()
    {
        if (CurrentScreen == UIScreen.MainGame)
            NavigationManager.NavigateTo("/");
        else
            await OnBack.InvokeAsync();
    }
}

<div class="choice" @onclick="HandleBack">
    0. @Text
</div>
