@inherits EncounterChoiceTooltipBase
<div class="tooltip" style="top:@tooltipYpx; left:@tooltipXpx;">
    <div class="preview-header">
        <h4>
            @hoveredChoice.ChoiceDescription
        </h4>
        <div class="choice-narrative">@GetChoiceNarrative(@hoveredChoice)</div>
    </div>

    <div class="tooltip-section">
        <h4>
            Effects
        </h4>

        <div class="effects-section">
            @if (hoveredChoice.Choice is EncounterOption cardChoiceTier)
            {
                <span class="tier-badge tier-@((int)cardChoiceTier.Difficulty)">
                    Difficulty @cardChoiceTier.Difficulty
                </span>
            }
        </div>
    </div>
</div>