@inherits EncounterChoiceTooltipBase
<div class="tooltip" style="top:@tooltipYpx; left:@tooltipXpx;">
    <div class="preview-header">
        <h4>
            @hoveredChoice.ChoiceDescription
        </h4>
        <div class="choice-narrative">@GetChoiceNarrative(@hoveredChoice)</div>
    </div>

    <div class="tooltip-section">

        <h4>
            Skill Check
        </h4>

        <div class="effects-section">
            @GetSkillCheckInfo(@hoveredChoice)
            </div>

        <div class="tooltip-item">
            <div class="tooltip-item-header">
                <div class="tooltip-item-title">
                    <span class="tooltip-item-name">Outcomes</span>
                </div>
            </div>
            <div class="tooltip-item-details">
                @GetProgressInfo(@hoveredChoice)
            </div>
        </div>
    </div>
</div>