@page "/"
@inherits ComponentBase

<div class="game-container">
    
    @if (CurrentScreen == CurrentViews.MissingReferences)
    {
        <MissingReferences OnMissingReferencesResolved="ResolvedMissingReferences" />
    }
    else if (CurrentScreen == CurrentViews.CharacterScreen)
    {
        <CharacterCreation OnCharacterCreated="HandleCharacterCreated" />
    }
    else
    {
        <MainGameplayView />
    }
    
</div>