@code {
    [Parameter] public UIScreens Screen { get; set; }
    [Parameter] public RenderFragment MainGameScreen { get; set; }
    [Parameter] public RenderFragment StatusScreen { get; set; }
    [Parameter] public RenderFragment ActionSelectionScreen { get; set; }
    [Parameter] public RenderFragment TravelScreen { get; set; }
    [Parameter] public RenderFragment ActionNarrativeScreen { get; set; }
    [Parameter] public RenderFragment ActionPreviewScreen { get; set; }
    [Parameter] public RenderFragment ActionResultScreen { get; set; }

    private RenderFragment GetScreenContent() => Screen switch
    {
        UIScreens.MainGame => MainGameScreen,
        UIScreens.Status => StatusScreen,
        UIScreens.ActionSelection => ActionSelectionScreen,
        UIScreens.Travel => TravelScreen,
        UIScreens.ActionNarrative => ActionNarrativeScreen,
        UIScreens.ActionPreview => ActionPreviewScreen,
        UIScreens.ActionResult => ActionResultScreen,
        _ => MainGameScreen
    };
}

<div class="screen">
    @GetScreenContent()
</div>
