@if (IsHighlighted)
{
    <div class="tutorial-highlight @(IsActive ? "active" : "")" @onclick="ToggleInfo">
        <div class="highlight-content">@ChildContent</div>

        @if (IsActive)
        {
            <div class="highlight-info">
                <div class="info-title">@Title</div>
                <div class="info-text">@Description</div>
            </div>
        }
    </div>
}
else
{
    @ChildContent
}

@code {
    [Parameter] public bool IsHighlighted { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    private bool IsActive { get; set; }

    private void ToggleInfo()
    {
        IsActive = !IsActive;
    }
}