@* AreaMap.razor *@
@inject GameManager ActionManager
@inject GameState GameState

<div class="world-map-container">
    <div class="world-map">
        <img src="/images//world-map.png" />
    </div>

    <div class="locations-grid">
        @foreach (var location in GetTravelableLocations())
        {
            <div class="location-card reachable">
                <div class="location-name">
                    @location.Name @(location.Name == CurrentLocation.Name ? "(Current)" : "")
                </div>

                <button class="action-button"
                        @onclick="() => OnTravel.InvokeAsync(location.Name)">
                    TRAVEL
                </button>
            </div>
        }
    </div>
</div>
@code {
    [Inject] public GameManager GameManager { get; set; }
    [Parameter] public Location CurrentLocation { get; set; }
    [Parameter] public List<Location> Locations { get; set; }
    [Parameter] public EventCallback<string> OnTravel { get; set; }

    private List<Location> GetTravelableLocations()
    {
        List<Location> enumerable = Locations.Where(loc =>
            loc.Name != CurrentLocation.Name &&
            GameManager.CanTravelTo(loc.Name)).ToList();

        return enumerable;
    }
}