<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Georgia&display=swap" rel="stylesheet">
    
    <!-- Core CSS Files -->
    <link href="css/game.css" rel="stylesheet" />
    <link href="css/conversation.css" rel="stylesheet" />
    <link href="css/location-screens.css" rel="stylesheet" />
    <link href="css/bottom-status.css" rel="stylesheet" />
    <link href="css/mockup.css" rel="stylesheet" />
    
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()
    <script src="_framework/blazor.server.js"></script>
</body>
</html>