@inherits ActionPreviewBase

<div class="action-preview">
    <div class="preview-header">
        <h4>@GetActionName()</h4>
        <p class="action-description">@GetActionDescription()</p>
    </div>

    @if (!GetRequirementsMet())
    {
        <div class="tooltip-section">
            <h5>Requirements</h5>
            <div class="tooltip-list">
                @foreach (string req in GetRequirements())
                {
                    <div class="tooltip-item">
                        <div class="tooltip-item-content">
                            @((MarkupString)req)
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>