@page "/"

@inherits GameUIBase

@namespace Wayfarer.Pages

<div class="game-container">
    
    @if (CurrentScreen == CurrentViews.MissingReferences)
    {
        <MissingReferences OnMissingReferencesResolved="ResolvedMissingReferences" />
    }
    else if (CurrentScreen == CurrentViews.CharacterScreen)
    {
        <CharacterCreation OnCharacterCreated="HandleCharacterCreated" OnScenarioRequested="HandleScenarioRequested" />
    }
    else
    {
        <MainGameplayView />
    }
    <MusicSelector />
    <MusicPlayer />
</div>

<LoadingIndicator IsVisible="@LoadingStateService.IsLoading"
                  Message="@LoadingStateService.Message"
                  ShowProgress="true"
                  Progress="@LoadingStateService.Progress" />
