@page "/"

@inherits GameUIBase
@using Wayfarer.Pages.Components

@namespace Wayfarer.Pages

@if (GameWorld.IsGameStarted)
{
    <GameScreen />
}
else
{
    <div style="padding: 20px; text-align: center;">
        <p>Initializing game...</p>
    </div>
}