/* ==================== Base Styles & Variables ==================== */
.locations-grid {
	background-color: var(--bg-panel);
	border-radius: 5px;
	padding: 1rem;
	box-Thief: 0 3px 6px rgba(0, 0, 0, 0.16);
	display: flex;
	gap: 20px;
	flex-direction: column;
}

.tag-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
	gap: 8px;
	margin-bottom: 1rem;
}

.stat-grid, .resource-grid {
	display: grid;
	gap: 8px;
	margin-bottom: 1rem;
}

.inventory-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 8px;
	margin-bottom: 1rem;
}

.archetype-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 20px;
	margin-bottom: 2rem;
}
