/* wwwroot/css/site.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Consolas', 'Courier New', monospace;
}

main {
    height: 100%;
}

.game-container {
    padding: 20px;
    height: 100%;
}

h2 {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: normal;
}

.choice {
    padding: 4px;
    cursor: pointer;
}

    .choice:hover {
        background-color: white;
        color: black;
    }

    .choice.disabled {
        color: #666;
        cursor: not-allowed;
    }

        .choice.disabled:hover {
            background-color: transparent;
            color: #666;
        }

    .choice.requirements-not-met {
        background-color: #f8d7da; /* Light red background */
        color: #721c24; /* Dark red text */
    }

        .choice.requirements-not-met:hover {
            background-color: #f5c6cb;
        }


.success-message {
    color: #00ff00;
    margin-top: 1rem;
}

.error-message {
    color: #ff0000;
    margin-top: 1rem;
}

.screen {
    margin: 0;
    padding: 0;
}

.choices {
    margin: 0;
    padding: 0;
}

.action-preview {
    position: absolute;
    min-width: 500px;
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
    z-index: 10;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    color: black;
    max-width: 300px;
    overflow-wrap: break-word;
    pointer-events: none;
}

    .action-preview h3 {
        margin-top: 0;
        font-size: 1.1em;
    }

    .action-preview p {
        margin: 0.5em 0 0;
    }

.action-item {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

    .action-item.action-green {
        background-color: #d4edda; /* Light green background */
        border: 1px solid #c3e6cb;
        color: #155724; /* Dark green text */
    }

    .action-item.action-red {
        background-color: #f8d7da; /* Light red background */
        border: 1px solid #f5c6cb;
        color: #721c24; /* Dark red text */
    }


/* Styling for positive and negative outcomes */
.positive {
    color: green;
}

.negative {
    color: red;
}

/* Action container styling */
.action-container {
    position: relative; /* Create a positioning context for the tooltip */
    display: block; /* Or flex, depending on your layout */
    margin-bottom: 10px; /* Add some spacing between action containers */
    min-width: 150px; /* Prevent the container from collapsing */
    /* Add other styles as needed */
}

    /* Styling for disabled actions */
    .action-container.disabled {
        color: red; /* Or any other styling you prefer */
    }

.disabled {
    color: gray;
}

