
/* ==================== Text Styles ==================== */
.narrative-text {
	font-family: var(--font-tertiary);
	color: var(--text-primary);
	font-size: 1.1rem;
	line-height: 1.6;
	margin-bottom: 2rem;
	text-align: center;
	max-width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.narrative-message {
	font-family: var(--font-tertiary);
	line-height: 1.6;
	color: var(--text-primary);
	font-size: 1.1rem;
	white-space: pre-line;
	margin-bottom: 2rem;
	padding: 0 1rem;
}

.positive {
	color: var(--positive);
}

.negative {
	color: var(--negative);
}

.positive-change {
	color: var(--positive);
	font-weight: bold;
}

.negative-change {
	color: var(--negative);
	font-weight: bold;
}

.info-change {
	color: var(--slate);
	font-weight: bold;
}

.value-icon {
	margin-right: 5px;
	font-style: normal;
}
