/* ==================== Tooltip ==================== */
.tooltip {
	position: fixed;
	z-index: 9999;
	pointer-events: none;
	background-color: var(--parchment);
	color: var(--text-dark-primary);
	padding: 1rem;
	border: 1px solid var(--oak-dark);
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

	.tooltip h4, .tooltip h5 {
		font-family: var(--font-primary);
		color: var(--oak-dark);
		margin-top: 0;
		border-bottom: 1px solid var(--oak-mid);
		padding-bottom: 0.5rem;
	}

.tooltip-item {
	background-color: var(--parchment-dark);
	padding: 0.7rem;
	border-radius: 3px;
	margin-bottom: 0.5rem;
}

	.tooltip-item.wide {
		width: 100%;
	}

.tooltip-section {
	margin-bottom: 1rem;
}

.tooltip-item-content {
	line-height: 1.5;
	color: var(--text-dark-primary); 
}

.tooltip-item-name {
	color: var(--text-dark-secondary)/
}

.tooltip-item-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tooltip-item-title {
	color: var(--text-dark-primary);
	display: flex;
	align-items: center;
}

.tooltip-list {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
