.music-player {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	background-color: var(--bg-card);
	border: 1px solid var(--oak-dark);
	border-radius: 5px;
	color: var(--text-primary);
	min-width: 240px;
	font-size: 0.8rem;
	font-family: var(--font-secondary);
}

.track-info {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
	margin-right: 0.5rem;
}

.title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
	margin-bottom: 0.25rem;
	color: var(--text-secondary);
}

.controls {
	display: flex;
	align-items: flex-end;
}

.icon {
	display: inline-block;
	font-size: 1.2rem;
	color: var(--text-primary);
}

.play-pause-btn,
.next-btn {
	all: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	color: var(--text-primary);
	border-radius: 50%;
	transition: background-color 0.2s;
	font-size: 1.2rem;
	background-color: transparent;
}

	.play-pause-btn:hover,
	.next-btn:hover {
		background-color: var(--bg-active);
	}

.time-display {
	font-size: 0.7rem;
	color: var(--text-muted);
}
